<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/menu-styles.css"/>
    <link rel="stylesheet" href="../styles/styles.css"/>
    <title>Interior Consultant</title>
</head>
<body>
    <header>
        <p class="crimson-pro-font">This Interior</p>
        <div class="menuContainer" onclick="changeIcon(this)">
            <div class="menuBar1"></div>
            <div class="menuBar2"></div>
            <div class="menuBar3"></div>
        </div>
    </header>

    <main>
        <section>
            <h1 class="lora-font-500">Modern interior</h1>
            <p class="montserrat-font-400">A full-Service residential & commercial interior design and staging company offering professional organizing & eco-services.</p>
            <div>
                <p class="montserrat-font-700">Read more</p>
                <svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" fill="white"></path> </svg>
            </div>
        </section>
        <section>
            <img alt="interior design" src="../assets/photo1.png"/>
            <article>
                <section>
                    <img alt="John Doe" src="../assets/photo2.png"/>
                    <div>
                        <p class="montserrat-font-500">John Doe</p>
                        <p class="montserrat-font-500">Interior designer</p>
                    </div>
                </section>
                <h1 class="lora-font-700">Designed in 2020 by John Doe</h1>
            </article>
        </section>
    </main>

    <footer class="montserrat-font-700">created by <span>Haitham Estetieh</span> - devChallenges.io</footer>
    <script src="../scripts/menu-script.js"></script>
</body>
</html>