<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/nav-menu-styles.css">
</head>
<body>
    <ul id="nav-menu">
        <li class="nav-menu-item-selected" onclick="chooseNavMenuItem(this)">Home</li>
        <li onclick="chooseNavMenuItem(this)">Collection</li>
        <li onclick="chooseNavMenuItem(this)">About</li>
        <li onclick="chooseNavMenuItem(this)">Contact</li>
    </ul>
    
    <script src="../scripts/nav-menu-items-script.js"></script>
</body>
</html>