.crimson-pro-font {
    font-family: 'Crimson Pro';
}

.lora-font-500 {
    font-family: 'Lora';
    font-weight: 500;
}

.lora-font-700 {
    font-family: 'Lora';
    font-weight: 700;
}

.montserrat-font-400 {
    font-family: 'Montserrat';
    font-weight: 400;
}

.montserrat-font-500 {
    font-family: 'Montserrat';
    font-weight: 500;
}

.montserrat-font-700 {
    font-family: 'Montserrat';
    font-weight: 700;
}