.crimson-pro-font {
    font-family: 'Crimson Pro';
}

.lora-font-500 {
    font-family: 'Lora';
    font-weight: 500;
}

.lora-font-700 {
    font-family: 'Lora';
    font-weight: 700;
}

.montserrat-font-400 {
    font-family: 'Montserrat';
    font-weight: 400;
}

.montserrat-font-500 {
    font-family: 'Montserrat';
    font-weight: 500;
}

.montserrat-font-700 {
    font-family: 'Montserrat';
    font-weight: 700;
}

body {
    color: white;
    background-color: #181719;
}

.silver-chalice-color {
    color: #A9A9A9;
}

.battleship-grey-color {
    color: #828282;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;
}

header > p {
    border: 1px solid white;
    padding: 6px;
}

main {
    margin: 0 8px;
}

#readMore {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#readMore > p {
    margin-right: 7.5px;
}

#readMore > svg {
    margin-left: 7.5px;
}

.interior-design {
    width: 100%;
    height: 279.34px; 
}

.designer-card {
    position: absolute;
    left: 13%;
    background-color: #181719;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    width: 75%;
    word-wrap: break-word;
}

.designer-card-info {
    font-size: 20px;
}

.designer-card-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.designer-card-user > img {
    width: 62.2px;
    height: 52.68px;
    clip-path: circle(45%);
}

.designer-card-user > div {
    margin-left: 12px;
}

.designer-card-user > div > p:nth-child(1) {
    margin: 20px 0 4px 0;
}

.designer-card-user > div > p:nth-child(2) {
    margin: 0 0 17px 0;
}

footer {
    text-align: center;
    font-size: 14px;
}